<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 开启日志 -->
    <settings>
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <!-- 配置 MyBatis 别名 -->
    <typeAliases>
        <package name="com.example.model"/>
    </typeAliases>

    <!-- 加载 Mapper XML 文件 -->
    <mappers>
        <mapper class="org.npc.kungfu.database.PlayerInfoMapper"/>
        <mapper class="org.npc.kungfu.database.GameInfoMapper"/>
    </mappers>
</configuration>
